  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
    <a href="/auth/google" class="siwg-link">
      <button type="submit" class="siwg">
        <img id="siwg-image" alt="Sign in with Google" />
      </button>
    </a>
  <% } %>
</head>
<body>
  <nav>
    <h2>Run,Run!</h2>
    <ul class="main-nav">
      <li><a href="/runs">Runs</a></li>
      <li><a href="/races">Races</a></li>
      <li><a href="/profiles">Runners</a></li>

    <% if (user) { %>
      <a href="/">
        <li class="login">
          <i class="fa-solid fa-circle-user"></i>
        </li>
      </a>
      <a href="/auth/logout">
        <li class="login">
          <i class="fa-solid fa-right-from-bracket"></i>
        </li>
      </a>
    <% } %>
 
    </ul>
  </nav>

