  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <a href="/auth/google" class="siwg-link">
      <button type="submit" class="siwg">
        <img id="siwg-image" alt="Sign in with Google" />
      </button>
    </a>
  <% } %>
</head>
<body>
  <nav>
    <h2>Run,Run!</h2>

    <ul class="main-nav">
      <ul class="dropdown">
        <li class="dropdown">
          <a href="/runs">Runs <i class="fa fa-caret-down"></i>
          </a>
        </li>
      </ul>
      <li class="dropdown-content">
        <a href="/runs/all">All Runsss</a>
      </li>
      
      <li><a href="/races">Races</a></li>
      <li><a href="/profiles">Runners</a></li>

    <% if (user) { %>
      <a href="/">
        <li class="login">
          <i class="fa-solid fa-circle-user"></i>
        </li>
      </a>
      <a href="/auth/logout">
        <li class="login">
          <i class="fa-solid fa-right-from-bracket"></i>
        </li>
      </a>
    <% } %>

  
  </nav>

