  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
    <a href="/auth/google" class="siwg-link">
      <button type="submit" class="siwg">
        <img id="siwg-image" alt="Sign in with Google" />
      </button>
    </a>
  <% } %>
</head>
<body>
  <nav>
    Workout Planner
    <div>
      <a href="/runs">
        Runs
      </a>
    </div>
    <div>
      <a href="/runs/new">
        Races
      </a>
    </div>
    <div>
      <a href="/profiles">
        Trainers
      </a>
    </div>


   <% if (user) { %>
    <a href="/profiles">
      <button>
        Profiles
      </button>
    </a>
    <a href="/auth/logout">
      <button type="submit">Logout

      </button>
    </a>
  <% } %>
  </nav>
