  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    Workout Planer
    <a href="/workouts">
      Workouts
    </a>


   <% if (user) { %>
    <a href="/profiles">
      <button>
        Profiles
      </button>
    </a>
    <a href="/auth/logout">
      <button type="submit">Logout

      </button>
    </a>
  <% } %>
  </nav>
