<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Edit Comment</h1>

<form action="">
  <input type="text">
  <button>Submit Change</button>
</form>
<%- include('../partials/footer') %>