<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/workouts/new.css">

<section>
  <h1>Add Workout</h1>


  <form action="/workouts" method="POST">
    <label for="workout-type">Workout Type:</label>
      <select name="type" id="workout-type">
        <option value="Climb">Rock Climbing</option>
        <option value="Run">Running</option>
      </select>
    <label for="workout-name">Workout Name</label>
      <input type="text" name="name" autocomplete="off"> 

    <label for="workout-description">Description</label>
      <textarea type="text" name="description" placeholder="Briefly Describe Your Workout"></textarea>

    <button type="submit" id="submit-Btn">Submit</button>
  </form>

</section>

<%- include('../partials/footer') %>