h3{
  margin: 20px 250px;
  display: flex;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(203, 90, 90);
  background-color: black;
}

h1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}