.header-section {
  display: flex;
  flex-wrap: wrap;
  color: blue;
  background-color: yellowgreen;
}

.header-section > div {
  width: calc(100% / 3);
}

.card-header-3 {
  display: flex;
  justify-content: right;
  margin: auto;
  font-size: 12px;
}


h1 {
  color: red;
}