html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: rgb(203, 203, 203);
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color:black;
  font-family: Arial, Tahoma, Serif;
  font-size: 1.6rem;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}


nav ul{
  display: flex;
  list-style: none;
}


nav li{
  padding-left: 1rem;
}

nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.login {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
  display: flex;
  justify-content: center;
  margin: 20px;
}

